@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.panjang {
  min-height: 500px;
}

.product-detail-container{
  width: 80%;
  color: #324d67;
}


.product-detail-image{
  border-radius: 10px;
  background-color: #ebebeb;
  width: 100%;
  cursor: pointer;
  transition: .3s ease-in-out;
}

@media screen and (max-width:800px) {
  .product-detail-image{
    width: 100%;
  }
}

.small-images-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.small-image{
  border-radius: 8px;
  background-color: #ebebeb;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.selected-image{
  background-color: rgb(30,129,176);
}

.lebar {
  width: 500px;
}

@media screen and (max-width:800px) {
  .lebar {
    width: 100%;
  }
}
